workflow-analysis/YXIKEobynugE8EBq.json
{
  "createdAt": "2025-08-10T10:16:03.715Z",
  "updatedAt": "2025-08-10T12:48:34.247Z",
  "id": "YXIKEobynugE8EBq",
  "name": "Freshdesk Chat Interface",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "freshdesk-chat",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Chat Input Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.action}}",
              "rightValue": "search_tickets",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "router",
      "name": "Action Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "domain": "{{ $('Chat Input Webhook').item.json.freshdesk_domain || '42gears.freshdesk.com' }}",
        "resource": "ticket",
        "operation": "getAll",
        "returnAll": false,
        "limit": "{{ $('Chat Input Webhook').item.json.limit || 10 }}",
        "filters": {
          "query": "{{ $('Chat Input Webhook').item.json.query || '' }}"
        }
      },
      "id": "search-tickets",
      "name": "Search Freshdesk Tickets",
      "type": "n8n-nodes-base.freshdesk",
      "typeVersion": 1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, action: 'search_tickets', data: $json, count: $json.length } }}"
      },
      "id": "search-response",
      "name": "Search Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Unknown action', available_actions: ['search_tickets'] } }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    }
  ],
  "connections": {
    "Chat Input Webhook": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Search Freshdesk Tickets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Freshdesk Tickets": {
      "main": [
        [
          {
            "node": "Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "1                                   ",
  "triggerCount": 0,
  "tags": []
}