workflows/freshdesk_ai_simple_fixed.json
[
  {
    "name": "Freshdesk AI Simple (Fixed)",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "path": "freshdesk-simple",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [240, 300],
        "webhookId": "freshdesk-simple"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://0drzjvpz3v4fzy-8000.proxy.runpod.net/v1/chat/completions",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyContentType": "json",
          "jsonBody": "{\n  \"model\": \"qwen\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful support agent. Provide a brief, professional response.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer query: {{ $json.subject || 'General inquiry' }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 500\n}",
          "options": {}
        },
        "id": "llm-request",
        "name": "Qwen3 LLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [460, 300]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"status\": \"success\",\n  \"ai_response\": \"{{ $('Qwen3 LLM').item.json.choices[0].message.content }}\",\n  \"input_subject\": \"{{ $('Webhook').item.json.subject }}\"\n}",
          "options": {}
        },
        "id": "webhook-response",
        "name": "Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [680, 300]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Qwen3 LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Qwen3 LLM": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2025-08-13T10:57:27.000Z",
    "versionId": "1"
  }
]
